@CHARSET "UTF-8";


#wrap{
	width:1080px;
	margin:0 auto;
}

.header-wrap{
	float:left;
	height : 20%;
	
}

.body-wrap{
	width:1080px;
	float:left;
	padding-bottom: 150px;
	overflow:inherit;
}

.footer-wrap{
	float:left;
	margin-bottom: 0;
}