@CHARSET "UTF-8";


#wrap{
	width:1080px;
	margin:0 auto;
}

.header-Wrap{
	height : 20%;
	
}

.body-Wrap{
	position: relative;
	padding-bottom: 40%;
}

.footer-wrap{
	position : absolute;
	margin-bottom: 0;
}