@charset "utf-8";
/* BASIC */
@font-face {
	font-family:ns;
	font-weight: 400;
	src:url('../font/notokr-regular.eot');
	src:local(※), url('../font/notokr-regular.woff') format('woff');
}
@font-face {
	font-family:ns;
	font-weight: 500;
	src:url('../font/notokr-medium.eot');
	src:local(※), url('../font/notokr-medium.woff') format('woff');
}
@font-face {
	font-family:ns;
	font-weight: 600;
	src:url('../font/notokr-bold.eot');
	src:local(※), url('../font/notokr-bold.woff') format('woff');
}

@font-face {
	font-family:ng;
	src:url('../font/NanumGothic.eot');
	src:local(※), url('../font/NanumGothic.woff') format('woff');
}
@font-face {
	font-family:os;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family:osb;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,select,button,
ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,textarea {margin:0;padding:0;}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:"";content:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;margin:0;padding:0;}
img {-ms-interpolation-mode:bicubic !important;}
a,input,select,textarea,button,img,label {vertical-align:middle;font-family:inherit;}
input {margin:0;padding:0;}
table,th,td {margin:0;padding:0;border-spacing:0px;border-collapse:collapse;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
legend,caption {height:0;text-indent:-9999px;overflow:hidden;font-size:0;}
input,button {border-radius:0;}
button,input[type="button"],input[type="submit"] {-webkit-appearance:none;}
select {border-radius:0;}

html{overflow-y:scroll;}
body{
	font-family:ns,os,sans-serif;
	/*font-family: "Noto Sans KR";*/
	color:#888888;
	font-size:14px;
	line-height: 1;
	-webkit-text-size-adjust:none;
	letter-spacing: -0.075em;
}
a {text-decoration:none;color:#222222;}
a:hover {text-decoration:none;}


.fl {float: left;}
.fr {float: right;}
.clear {clear:both;display:block;float:none;font-size:0 !important;height:0;line-height:0 !important;margin:0 !important;overflow:hidden;padding:0 !important;width:100%;}
.clearfix {*zoom:1;}
.clearfix:after {content:"";display:block;clear:both;font-size:0;}


.mt0 {margin-top:0 !important;}
.mt2 {margin-top:2px !important;}
.mt3 {margin-top:3px !important;}
.mt5 {margin-top:5px !important;}
.mt9 {margin-top:9px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}
.mt65 {margin-top:65px !important;}
.mt70 {margin-top:70px !important;}
.mt75 {margin-top:75px !important;}
.mt80 {margin-top:80px !important;}
.mt90 {margin-top:90px !important;}
.mt100 {margin-top:100px !important;}

.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml7 {margin-left:7px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}
.ml45 {margin-left:45px !important;}
.ml50 {margin-left:50px !important;}
.ml70 {margin-left:70px !important;}
.ml75 {margin-left:75px !important;}
.ml100 {margin-left:100px !important;}
.ml355 {margin-left:355px !important;}
.ml360 {margin-left:360px !important;}

.mr0 {margin-right:0 !important;}
.mr5 {margin-right:5px !important;}
.mr7 {margin-right:7px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}
.mr45 {margin-right:45px !important;}
.mr50 {margin-right:50px !important;}

.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb45 {margin-bottom:45px !important;}
.mb50 {margin-bottom:50px !important;}
.mb55 {margin-bottom:55px !important;}
.mb60 {margin-bottom:60px !important;}
.mb65 {margin-bottom:65px !important;}
.mb70 {margin-bottom:70px !important;}

.pt0 {padding-top:0 !important;}
.pt5 {padding-top:5px !important;}
.pt9 {padding-top:9px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt45 {padding-top:45px !important;}
.pt50 {padding-top:50px !important;}
.pt60 {padding-top:60px !important;}
.pt65 {padding-top:65px !important;}
.pt70 {padding-top:70px !important;}
.pt75 {padding-top:75px !important;}
.pt80 {padding-top:80px !important;}
.pt85 {padding-top:85px !important;}
.pt90 {padding-top:90px !important;}
.pt100 {padding-top:100px !important;}

.pl0 {padding-left:0 !important;}
.pl5 {padding-left:5px !important;}
.pl7 {padding-left:7px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}
.pl45 {padding-left:45px !important;}
.pl50 {padding-left:50px !important;}
.pl70 {padding-left:70px !important;}
.pl75 {padding-left:75px !important;}
.pl100 {padding-left:100px !important;}
.pl355 {padding-left:355px !important;}
.pl360 {padding-left:360px !important;}

.pr0 {padding-right:0 !important;}
.pr5 {padding-right:5px !important;}
.pr7 {padding-right:7px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}
.pr45 {padding-right:45px !important;}
.pr50 {padding-right:50px !important;}

.pb0 {padding-bottom:0 !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb45 {padding-bottom:45px !important;}
.pb50 {padding-bottom:50px !important;}
.pb70 {padding-bottom:70px !important;}

.lh24 {line-height:24px !important;}
.lh22 {line-height:22px !important;}
.lh20 {line-height:20px !important;}
.lh18 {line-height:18px !important;}
.lh16 {line-height:16px !important;}
.lh14 {line-height:14px !important;}
.lh12 {line-height:12px !important;}
.lh10 {line-height:10px !important;}

.fs40 {font-size:40px !important;}
.fs30 {font-size:30px !important;}
.fs24 {font-size:24px !important;}
.fs20 {font-size:20px !important;}
.fs18 {font-size:18px !important;}
.fs16 {font-size:16px !important;}
.fs15 {font-size:15px !important;}
.fs14 {font-size:14px !important;}
.fs13 {font-size:13px !important;}
.fs12 {font-size:12px !important;}
.fs11 {font-size:11px !important;}
.fs10 {font-size:10px !important;}

.fwn {font-weight:normal !important;}
.fwb {font-weight:600 !important;}

.c999 {color:#999 !important;}
.c777 {color:#777 !important;}
.c666 {color:#666 !important;}
.c333 {color:#333 !important;}
.c444 {color:#444 !important;}
.c000 {color:#000 !important;}

.red {color:#dc0303;}
.blue {color:#0c64b0;}
.orange {color:#fc7f04;}

.tac {text-align:center !important;}
.tar {text-align:right !important;}
.tal {text-align:left !important;}
.ls1 {letter-spacing:-1px;word-spacing:-1px;}
.ls5 {letter-spacing:-0.5px;word-spacing:-0.5px;}
.ls75 {letter-spacing:-0.75px;word-spacing:-0.75px;}
.ls25 {letter-spacing:-0.25px;word-spacing:-0.25px;}

/* BASIC */
