@charset "utf-8";

.base-tit {font-size: 30px; font-weight: 300; color: #017cc1; line-height: 48px; text-transform: uppercase;}
.base-tit span {display: block; font-size: 35px; font-weight: 500;}

.base-txt {font-size: 15px; color: #6d6d6d; line-height: 26px; letter-spacing: -0.05em; word-break: keep-all;}
.base-txt1 {padding-left:200px; font-size: 15px; color: #333; line-height: 26px; letter-spacing: -0.05em; word-break: keep-all;}

.base-txt strong {color: #000; font-weight: normal;}

.base-tab {border: 1px solid #e2e2e2;}
.base-tab li {float: left; height: 44px; line-height: 44px; text-align: center;
  border-left: 1px solid #e2e2e2;
}
.base-tab li:first-child {border-left: 0;}
.base-tab li,
.base-tab li a {display: block; color: #767676; font-size: 20px; }
.base-tab li a.active {color: #017cc1; background: url(../images/sub/tab-on.gif) 90% 50% no-repeat;}
.base-tab.tab2 li {width: 411px;}

/*인사말*/
.greeting-box {
  padding: 80px 0 80px 60px;
  background: #f5f3f2 url(../images/sub/greeting-img.jpg) 528px bottom no-repeat;
}
.greeting-box .base-txt {width: 445px;}


/*연혁*/
.history {margin-left: 80px; margin-top: 70px; position: relative; padding: 20px 0; z-index: 100;}
.history:before {
  content: ""; display: block; position: absolute; width: 1px; height: 100%; background: #e2e2e2;
  top: 0; left: 10px;
  z-index: 0;
}

.history-year {margin-top: 50px; position: relative;}
.history-year:first-child {margin-top: 0;}
.history-year .year {
  color: #017cc1; background: url(../images/sub/sub-dot.gif) 0 0 no-repeat;
  z-index: 999;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 85px;
  position: absolute;
}
.history-year .year span {
  width: 160px;
  display: block;
  background: url(../images/sub/sub-titline2.gif) 100% 50% no-repeat;
  text-indent: 25px;
  position: relative;
  top: -2px;

}
.history-year dd {
  margin-top: 20px;
  padding-left: 235px;
  color: #6d6d6d;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  /*outline: 1px solid red;*/
}

.history-year dd span {
  display: block; width: 50px; color: #4e4f4f; font-weight: 500;
  position: absolute; top: 0; left: 190px;
}


/*조직도*/
.organization {margin-top: 40px; text-align: center;}


/*파트너사*/
.partner {margin-left: 80px; margin-top: 70px; position: relative; padding: 20px 0; z-index: 100;}
.partner:before {
  content: ""; display: block; position: absolute; width: 1px; height: 100%; background: #e2e2e2;
  top: 0; left: 10px;
  z-index: 0;
}

.partner-list {margin-top: 50px;}
.partner-list:first-child {margin-top: 0;}
.partner-list .tit {
  color: #017cc1; background: #fff url(../images/sub/sub-dot.gif) 0 0 no-repeat;
  height: 20px;
  z-index: 999;
  font-size: 24px;
  padding-left: 30px;
  position: relative;
}
.partner-list .tit span {
  display: block;
  background: url(../images/sub/sub-titline.gif) 0 50% no-repeat;
  text-indent: 25px;
}
.partner-list ul {
  padding-left: 50px; margin-top: 35px;
}
.partner-list li{
  float: left; margin-right: 10px;
  display: block;
  width: 198px;
  text-align: center;
  margin-bottom: 25px;
}
.partner-list a {display: table-cell; vertical-align: middle; width: 198px; height: 80px; border: 1px solid #e2e2e2;
}
.partner-list a img {margin: 0 auto;}
.partner-list span {display: block; margin-top: 10px; letter-spacing: -0.05em;}

/*오시는길*/
#map {border: 1px solid #e2e2e2;}
.location {margin-top: 30px; text-align: center; letter-spacing: -0.025em;}
.location strong{font-weight: normal; color: #017cc1;}
.location em {display: inline-block; width: 10px;}


/*브랜드소개*/
.brand {margin-top: 10px;}
.brand1 {
  height: 427px;
  background: url(../images/sub/brand-img1.jpg) 0 0 no-repeat;
  position: relative;
}
.brand1 .base-txt {color: #474747;
  position: absolute;
  top: 140px; left: 50px;
  line-height: 24px;
}
.brand2 {
  height: 478px;
  background: url(../images/sub/brand-img2.jpg) 0 0 no-repeat;
  position: relative;
}
.brand2 .base-txt {color: #474747;
  position: absolute;
  top: 150px; left: 50px;
  line-height: 24px;
}












/**/
