
.hnn-inner {
	width: 1080px; 
	margin: 0 auto; 
	position: relative;
}
.sp {display: block; background: url(../images/sp.png) no-repeat;}
/* 폼 */
.hnn-iform {display:inline-block;border:1px solid #dcdcdc;}
input.hnn-iform {height:31px;line-height:31px;text-indent:8px;}
select.hnn-iform {height:33px;}
textarea.hnn-iform {width:100%; height:33px;height:95px; box-sizing:border-box;}

body{
	margin:0;
}

/*
==============================
HEADER#
==============================
*/

#wrapper{
	width : 1080px;
	margin: 0 auto;
	
}

#hnn-tnb {height: 110px;}

#hnn-logo {
	position: absolute;
	top: 20px;
	left: 0;
	margin-left : 35px;
	z-index: 999;
}
#hnn-logo a {display: block; width: 100%; height: 72px;
	}


#hnn-log {position: absolute; right: 90px; top: 38px; height: 18px; line-height: 18px;}
#hnn-log li {float: left;}
#hnn-log li {padding: 0 10px; position: relative;}
#hnn-log li:after {content: ""; display: block; width: 1px; height: 12px; background: #adadad;
	position: absolute; left: 0; top: 50%; margin-top: -6px;
}
#hnn-log li:first-child:after {width: 0;}
#hnn-log li,
#hnn-log li a {color: #888;}
#hnn-log li a:hover {color: #333;transition:0.3s;}


/*
==============================
HEADER
==============================
*/
 #hnn-header {
	position: relative;
	height: 55px; border: solid #d9d9d9; border-width: 1px 0;}

/* text-transform은 대소문자 구분 */ 
#hnn-gnb {height: 55px; text-transform: uppercase; margin-left: 90px;}
#hnn-gnb > li {
	display:inline-block;
	position:relative;
	line-height: 60px;
}
#hnn-gnb > li > a {
	padding: 0 50px;
	display: block;
	height: 100%;
	color:#000000;
	font-size:16px;
	z-index:10;
	letter-spacing: 0.1em;
}
#hnn-gnb > li:first-child a {padding-left: 0;}

#hnn-gnb > li:hover > a,
#hnn-gnb > li.active > a {color: #017cc1;transition:0.3s;}
#hnn-gnb li div {
	display:none;
	width:100%;
	position:absolute;
	left:0;
	top: 61px;
	letter-spacing:-0.1em;
	z-index:20;

}


#hnn-gnb li:first-child div {border-left:none;left:0;}
#hnn-gnb li ul li {margin-top: 3px; display: block;}
#hnn-gnb li ul li a {
	display:block;
	font-size:14px;
	color:#959595;
	line-height: 24px;
	text-indent: 50px;
}
#hnn-gnb li:first-child ul li a {text-indent: 0;}

#hnn-gnb li ul li.active a,
#hnn-gnb li ul li a:hover {color: #017cc1;transition:0.3s;}

#hnn-gnb li ul li a:hover:after {
	content: "";
	border-bottom: 2px solid #d7cec5;
}

.hnn-bg {
	position:absolute; top:60px;left:0;
	width:100%;
	display: none;
	height: 207px;
	z-index:15;
	overflow:hidden;
	background: #fff;
	border-bottom: 1px solid #d5d5d5;
}


/*
==============================
VISUAL
==============================
*/
/* navi 내려오는 부분 */

#hnn-vis {position:relative;width:100%;z-index:0;height:545px;}
#hnn-vis .hnn-vis {width:100%;height:545px;overflow:hidden;}
#hnn-vis .hnn-vis img {position:relative;display:block;left:50%;margin-left:-530px;}
#hnn-vis .bx-controls-direction a {position:absolute;top:50%;margin-top:-32px;z-index:100;display:block;width:64px;height:64px;text-indent:-9999px;}
#hnn-vis .bx-controls-direction .bx-prev {background:url(../images/btn.png) 0 -68px no-repeat; left:20px;}
#hnn-vis .bx-controls-direction .bx-next {background:url(../images/btn.png) -64px -68px no-repeat; right:20px;}
 
/*
==============================
PRODUCT
==============================
*/
#hnn-element {
	
	}

/*PRODUCT INFO*/
#hnn-Pinfo {
	width : 1080px;
	margin: 0 auto;
	
}
.p-tit {
	margin-top: 40px;
	font-size: 30px; 	font-weight: 500;
	letter-spacing: 0; color: #017cc1; text-align: center;
	text-transform: uppercase;
}
.p-slogan {
	margin-top: 10px; 
	font-size: 30px; 
	color: #28afbc; 
	letter-spacing: 0.52em; 
	text-align: center;
}

.P-list {margin-top: 50px; height: 371px; position: relative;}
.P-list dl {float: left; width: 251px; border: 1px solid #ddd;}
.P-list dt {width: 251px; height: 251px;}
.P-list dd {width: 251px; height: 118px; background: #fafafa;}
.P-list dd span {display: block; text-align: center; padding: 0 20px;}
.P-list .p-name {padding-top: 10px; font-size: 15px; color: #6a6969; line-height: 20px; word-break:keep-all;}
.P-list .p-pri {padding-top: 5px; font-size: 16px; color: #000; text-decoration:line-through;}
.P-list .p-dpri {padding-top: 5px; font-size: 20px; color: #017cc1; font-weight: 500;}
.P-list .bx-controls-direction a {position:absolute;top:50%;margin-top:-20px;z-index:100;display:block;width:40px;height:40px;text-indent:-9999px;}
.P-list .bx-controls-direction .bx-prev {background:url(../images/btn.png) 0 -28px no-repeat; left:0;}
.P-list .bx-controls-direction .bx-next {background:url(../images/btn.png) -40px -28px no-repeat; right:0;}

/*
==============================
BOARD
==============================
*/
#hnn-board {
	margin-top: 20px;
	height: 66px;
	border: solid #ddd; 
	border-width: 1px 0;
}
#hnn-board .fl {width: 530px; position: relative;}
#hnn-board .fr {width: 549px; height: 66px; border-left: 1px solid #ddd; position: relative;}
.board-tit {font-size: 18px; font-weight: 600; color: #7ac049;
	text-transform: uppercase; line-height: 20px;height: 20px;
	position: absolute; top:13px;
	letter-spacing: 0;
}
.board-tit em {display: inline-block; width: 20px; height: 20px;
	background: url(../../images/main_images/pinicon.jpg) center no-repeat;
	vertical-align: top; margin-right: 5px;

}
#hnn-board .board-list {position: relative; top: 25px;}
#hnn-board .fl .board-roll {left: 100px;}
#hnn-board .fr .board-roll {left: 125px;}
#hnn-board .fr .board-tit {margin-left: 15px;}
#hnn-board .bx-controls-direction a {position:absolute;z-index:100;display:block;width:14px;height:14px;text-indent:-9999px;}
#hnn-board .bx-controls-direction .bx-prev {background:url(../images/btn.png) 0 0 no-repeat; right: 25px; top: -8px;}
#hnn-board .bx-controls-direction .bx-next {background:url(../images/btn.png) 0 -14px no-repeat; right:25px; top: 10px;}

/*
==============================
SITEMAP
==============================
*/
#hnn-sitemap {background: #222;  text-transform: uppercase; padding: 60px 0 40px;height: 270px;}
/*#hnn-sitemap .sitemap-list {outline: 1px solid red;}*/
#hnn-sitemap .sitemap-list > li {float: left; font-size: 14px; height: 270px;  padding-right: 50px; padding-left: 25px; border-left: 1px solid #393939;}
#hnn-sitemap .sitemap-list > li:first-child {padding-left: 0; border-left: 0; margin-left: 150px}
#hnn-sitemap li.map6 {padding-right: 0;}
#hnn-sitemap li,
#hnn-sitemap li a {color: #eff0f0;}
#hnn-sitemap li li {float: none; margin-top: 8px;}
#hnn-sitemap li ul {margin-top: 20px;}
#hnn-sitemap li li,
#hnn-sitemap li li a {display: block; color: #858484;}
#hnn-sitemap li li a:hover {color: #999;}



/*
==============================
FOOTER
==============================
*/
#hnn-foot {width:100%; border-top:1px solid #d8d8d8; height: 225px;}
.address{
	width : 1080px;
	margin : 0 auto;
}

#hnn-foot .address {
	
	color:#777777;
	letter-spacing:-0.025em;
	 line-height:22px; 
	text-align : center;
	 padding-top: 40px;}
#hnn-foot .address em {display:inline-block; font-size:0; margin:0 8px; position:relative; top:2px;}


#hnn-foot .gotop {
	position: absolute; top: 0; margin-right:-99px;
	display: block; width: 54px; height: 54px;	background: #017cc1;
	font-size: 15px; color: #fff; line-height: 54px; text-align: center;
}

