/* #hnn-wrap {
	width: 1080px; 
	margin: 0 auto; 
	position: relative;
	} */
.hnn-inner {
	width: 1080px; 
	margin: 0 auto; 
	position: relative;
}
.sp {display: block; background: url(../images/sp.png) no-repeat;}
/* 폼 */
.hnn-iform {display:inline-block;border:1px solid #dcdcdc;}
input.hnn-iform {height:31px;line-height:31px;text-indent:8px;}
select.hnn-iform {height:33px;}
textarea.hnn-iform {width:100%; height:33px;height:95px; box-sizing:border-box;}

body{
	height: 100%;
}

/*
==============================
HEADER
==============================
*/

#wrapper{
	width : 1080px;
	margin: 0 auto;
	
}

#hnn-tnb {height: 110px;}

#hnn-logo {
	position: absolute;
	top: 20px;
	left: 0;
	margin-left : 35px;
	z-index: 999;
}
#hnn-logo a {display: block; width: 100%; height: 72px;
	}


#hnn-log {position: absolute; right: 90px; top: 38px; height: 18px; line-height: 18px;}
#hnn-log li {float: left;}
#hnn-log li {padding: 0 10px; position: relative;}
#hnn-log li:after {content: ""; display: block; width: 1px; height: 12px; background: #adadad;
	position: absolute; left: 0; top: 50%; margin-top: -6px;
}
#hnn-log li:first-child:after {width: 0;}
#hnn-log li,
#hnn-log li a {color: #888;}
#hnn-log li a:hover {color: #333;transition:0.3s;}
/* #hnn-log a.cart {padding-left:3px; position: relative;}
#hnn-log .ico-cart {display: inline-block; width: 14px; height: 17px; background: url(../images/tnb-cart.gif) 0 0 no-repeat;  position: absolute; left: 0; }
 */ 
/* /* 다국어
#hnn-lang {
	position:absolute;right:0;top:40px; width: 78px; text-transform: uppercase; letter-spacing: -0.05em;}
#hnn-lang .hnn-btn {
	display:block;
	color:#017cc1;
	height: 18px;
	line-height: 18px;
}
#hnn-lang .hnn-btn > em {
	position: absolute; right: 0;
	background:url(../images/lang-off.gif) no-repeat;
	text-indent:-9999px;
	display:inline-block;
	width:17px;
	height:18px;
}

#hnn-lang ul {
	display: none;
	left:0;
	width:100%;
	position:absolute;
}
#hnn-lang.active > a {color:#017cc1;}
#hnn-lang.active > a > em {background:url(../images/lang-on.gif) no-repeat;}
#hnn-lang ul li a {
	display:block;
	color:#017cc1;
	line-height:18px;
	transition:0.3s;
}
#hnn-lang ul li:hover a {color:#333;transition:0.3s;}
  */

/*
==============================
HEADER
==============================
*/
 #hnn-header {
	position: relative;
	height: 55px; border: solid #d9d9d9; border-width: 1px 0;}

/* text-transform은 대소문자 구분 */ 
#hnn-gnb {height: 55px; text-transform: uppercase; margin-left: 90px;}
#hnn-gnb > li {
	display:inline-block;
	position:relative;
	line-height: 60px;
}
#hnn-gnb > li > a {
	padding: 0 50px;
	display: block;
	height: 100%;
	color:#000000;
	font-size:16px;
	z-index:10;
	letter-spacing: 0.1em;
}
#hnn-gnb > li:first-child a {padding-left: 0;}

#hnn-gnb > li:hover > a,
#hnn-gnb > li.active > a {color: #017cc1;transition:0.3s;}
#hnn-gnb li div {
	display:none;
	width:100%;
	position:absolute;
	left:0;
	top: 61px;
	letter-spacing:-0.1em;
	z-index:20;
	/*outline: 1px solid red;*/
}

/*#hnn-gnb li div ul {padding-top:10px;}*/
#hnn-gnb li:first-child div {border-left:none;left:0;}
#hnn-gnb li ul li {margin-top: 3px; display: block;}
#hnn-gnb li ul li a {
	display:block;
	font-size:14px;
	color:#959595;
	line-height: 24px;
	text-indent: 50px;
}
#hnn-gnb li:first-child ul li a {text-indent: 0;}

#hnn-gnb li ul li.active a,
#hnn-gnb li ul li a:hover {color: #017cc1;transition:0.3s;}

#hnn-gnb li ul li a:hover:after {
	content: "";
	border-bottom: 2px solid #d7cec5;
}

.hnn-bg {
	position:absolute; top:60px;left:0;
	width:100%;
	display: none;
	height: 207px;
	z-index:15;
	overflow:hidden;
	background: #fff;
	border-bottom: 1px solid #d5d5d5;
}

/* 검색
#header-search {
	position: absolute;
	top: 13px; right: 0;
	width: 250px; height: 35px;
	border-bottom: 1px solid #d9d9d9;
}
#header-search .form {width: 215px; height: 35px; border: 0;letter-spacing: -0.05em;}
#header-search .btn {position: absolute; right: 0; top: 0;}  */
/*
==============================
VISUAL
==============================
*/
/* navi 내려오는 부분 */

#hnn-vis {position:relative;width:100%;z-index:0;height:545px;}
#hnn-vis .hnn-vis {width:100%;height:545px;overflow:hidden;}
#hnn-vis .hnn-vis img {position:relative;display:block;left:50%;margin-left:-530px;}
#hnn-vis .bx-controls-direction a {position:absolute;top:50%;margin-top:-32px;z-index:100;display:block;width:64px;height:64px;text-indent:-9999px;}
#hnn-vis .bx-controls-direction .bx-prev {background:url(../images/btn.png) 0 -68px no-repeat; left:20px;}
#hnn-vis .bx-controls-direction .bx-next {background:url(../images/btn.png) -64px -68px no-repeat; right:20px;}
 
/*
==============================
PRODUCT
==============================
*/
#hnn-element {
	
	}

/*PRODUCT INFO*/
#hnn-Pinfo {
	width : 1080px;
	margin: 0 auto;
	
}
.p-tit {
	margin-top: 40px;
	font-size: 30px; 	font-weight: 500;
	letter-spacing: 0; color: #017cc1; text-align: center;
	text-transform: uppercase;
}
.p-slogan {
	margin-top: 10px; 
	font-size: 30px; 
	color: #28afbc; 
	letter-spacing: 0.52em; 
	text-align: center;
}

.P-list {margin-top: 50px; height: 371px; position: relative;}
.P-list dl {float: left; width: 251px; border: 1px solid #ddd;}
.P-list dt {width: 251px; height: 251px;}
.P-list dd {width: 251px; height: 118px; background: #fafafa;}
.P-list dd span {display: block; text-align: center; padding: 0 20px;}
.P-list .p-name {padding-top: 10px; font-size: 15px; color: #6a6969; line-height: 20px; word-break:keep-all;}
.P-list .p-pri {padding-top: 5px; font-size: 16px; color: #000; text-decoration:line-through;}
.P-list .p-dpri {padding-top: 5px; font-size: 20px; color: #017cc1; font-weight: 500;}
.P-list .bx-controls-direction a {position:absolute;top:50%;margin-top:-20px;z-index:100;display:block;width:40px;height:40px;text-indent:-9999px;}
.P-list .bx-controls-direction .bx-prev {background:url(../images/btn.png) 0 -28px no-repeat; left:0;}
.P-list .bx-controls-direction .bx-next {background:url(../images/btn.png) -40px -28px no-repeat; right:0;}

/*
#hnn-Phit {margin-top: 45px;}
#hnn-Phit .fl {width: 274px; height: 330px; background: url(../images/pro_movie.jpg) 0 0 no-repeat; color: #fff; display: table; position:relative;}

 170208 영상추가css
#hnn-Phit .fl .movie {width:236px; height:330px; position:absolute; left:50%; margin-left: -118px; top:160px; overflow:hidden;}
#hnn-Phit .fl .txt2 {padding-left: 10px; position:relative; top:30px; letter-spacing:-0.05em; }
#hnn-Phit .fl .txt2 strong {color:#017cc1; border-color:#017cc1;}
#hnn-Phit .fl .txt2 span {color:#65badb; }
//170208 영상추가css 

#hnn-Phit .fl .txt {padding-left: 30px; display: table-cell; vertical-align: middle;}
#hnn-Phit .fl strong {
	padding-left: 10px;
	padding-bottom: 8px;
	width: 195px;
	display: block;
	font-family: osb; font-weight: normal;
	font-size: 35px; line-height: 35px;
	border-bottom: 1px solid #fff;
}
#hnn-Phit .fl span {
	margin-top: 10px;
	padding-left: 10px;
	display: block;
	font-size: 15px; line-height: 18px;
}
#hnn-Phit .fr dl {width: 802px; border-top: 3px solid #7ac049;}
#hnn-Phit .fr dt {
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	font-size: 16px; color: #000;
}
#hnn-Phit .fr dd {
	width: 800px;
	height: 276px;
	border: 1px solid #ddd;
	position: relative;
	background: url(../images/hit-line.gif) 50% 50% no-repeat;
}
#hnn-Phit .fr dd:after {content: ""; display: block; clear: both;}
#hnn-Phit .fr dd:before {content: ""; width: 100%; height: 1px; background: #ddd;
	position: absolute; top: 50%; margin-top: 1px;
}
.h-itemBox {
	float: left;
	width: 266px;
	height: 121px;
	margin-top: 20px;
	outline: 1px solid red;
	position: relative;
}
.h-itemCont {	position: relative;height: 88px;}
.h-itemCont img {position: absolute; left: 12px;}
.h-itemCont .h-txt {position: absolute; left: 110px;}
.h-itemCont .h-txt span {display: block;}
.h-itemCont .h-name {
	color: #c7c7c7; font-size: 13px;  line-height: 18px;
	word-break: keep-all;
}
.h-itemCont .h-pri {margin-top: 15px;color: #000; font-size: 13px; text-decoration: line-through;}
.h-itemCont .h-dpri {margin-top: 3px; color: #017cc1; font-size: 15px; font-weight: 500;}

배너메뉴
#hnn-Bmenu {margin-top: 40px;}
#hnn-Bmenu li {float: left; width: 550px; height: 275px;}
#hnn-Bmenu a { display: block; width: 100%; height: 100%; position: relative;}
#hnn-Bmenu a.Bmenu1 {background: #fff url(../images/el-event.jpg) right 0 no-repeat;}
#hnn-Bmenu a.Bmenu2 {background: url(../images/el-brand.jpg) 0 0 no-repeat;}
#hnn-Bmenu a.Bmenu3 {background: url(../images/el-company.jpg) 0 0 no-repeat;}
#hnn-Bmenu a.Bmenu4 {background: #fff url(../images/el-lasp.jpg) right 0 no-repeat;}
#hnn-Bmenu strong {
	display: block; font-size: 20px; font-weight: 500; letter-spacing: 0;
	position: relative; top: 40px; left: 50px;
}
#hnn-Bmenu .Bmenu-slogan {
	font-size: 14px; color: #c7c7c7;letter-spacing: -0.05em; line-height: 16px;
	position: absolute; top: 95px; left: 50px;
}
#hnn-Bmenu .Bmenu-btn {
	position: absolute; top: 190px; left: 50px;
	display: block;
	width: 59px; height: 25px; background: url(../images/el-btn.png) no-repeat;
}
#hnn-Bmenu a.Bmenu2 .Bmenu-slogan {color: #fff;}
#hnn-Bmenu a.Bmenu4 .Bmenu-slogan {top: 70px;}
.Bmenu4 .logo {
	margin-bottom: 10px;
	display: block; width: 124px; height: 45px; background: url(../images/logo-laspash.gif) 0 no-repeat;
}


==============================
INDEX
==============================

#hnn-index {margin-top: 20px;
}
#hnn-index .index-tit {margin-bottom: 12px;font-size: 18px; color: #000; padding-top: 20px; font-weight: 500;}
#hnn-index .quick,
#hnn-index .cs {float: left;}
#hnn-index .quick li {float: left; width: 85px; margin-right: 50px;}
#hnn-index .quick a {display: block; width: 85px; height: 85px; border-radius: 50%;}
#hnn-index .quick span {margin-top: 12px;display: block; width: 100%; text-align: center; color: #65686b; font-size: 15px;}
#hnn-index .quick .quick1 {background: url(../images/ico-index1.gif) 0 0 no-repeat;}
#hnn-index .quick .quick2 {background: url(../images/ico-index2.gif) 0 0 no-repeat;}
#hnn-index .quick .quick3 {background: url(../images/ico-index3.gif) 0 0 no-repeat;}
#hnn-index .quick .quick4 {background: url(../images/ico-index4.gif) 0 0 no-repeat;}
#hnn-index .cs {width: 225px; height: 138px; border-right: 1px solid #ddd;
	background: url(../images/ico-phone.gif) 0 50px no-repeat;
	padding-left: 75px;
}
#hnn-index .cs .tel {display: block; text-indent: -9999px; width: 165px; height: 22px;
	background: url(../images/index-cs.gif) 0 0 no-repeat;
}
#hnn-index .cs .txt {display: block; margin-top: 12px; font-size: 13px; line-height: 18px; color: #969595;}
#hnn-index .bank {float: right; width: 240px;}
#hnn-index .bank .logo {width: 118px; height: 26px; background: url(../images/logo-bank.gif) 0 0 no-repeat;}
#hnn-index .bank .ibk {margin-top: 10px; color: #65686b; font-size: 15px; font-weight: 500; letter-spacing: 0;}
#hnn-index .bank .name {margin-top: 5px; font-style: 13px; color: #969595;}
#hnn-index .bank .name span {color: #017cc1;} */
/*
==============================
BOARD
==============================
*/
#hnn-board {
	margin-top: 20px;
	height: 66px;
	border: solid #ddd; 
	border-width: 1px 0;
}
#hnn-board .fl {width: 530px; position: relative;}
#hnn-board .fr {width: 549px; height: 66px; border-left: 1px solid #ddd; position: relative;}
.board-tit {font-size: 18px; font-weight: 600; color: #7ac049;
	text-transform: uppercase; line-height: 20px;height: 20px;
	position: absolute; top:13px;
	letter-spacing: 0;
}
.board-tit em {display: inline-block; width: 20px; height: 20px;
	background: url(../../images/main_images/pinicon.jpg) center no-repeat;
	vertical-align: top; margin-right: 5px;

}
#hnn-board .board-list {position: relative; top: 25px;}
#hnn-board .fl .board-roll {left: 100px;}
#hnn-board .fr .board-roll {left: 125px;}
#hnn-board .fr .board-tit {margin-left: 15px;}
#hnn-board .bx-controls-direction a {position:absolute;z-index:100;display:block;width:14px;height:14px;text-indent:-9999px;}
#hnn-board .bx-controls-direction .bx-prev {background:url(../images/btn.png) 0 0 no-repeat; right: 25px; top: -8px;}
#hnn-board .bx-controls-direction .bx-next {background:url(../images/btn.png) 0 -14px no-repeat; right:25px; top: 10px;}

/*
==============================
SITEMAP
==============================
*/
#hnn-sitemap {background: #222;  text-transform: uppercase; padding: 60px 0 40px;height: 270px;}
/*#hnn-sitemap .sitemap-list {outline: 1px solid red;}*/
#hnn-sitemap .sitemap-list > li {float: left; font-size: 14px; height: 270px;  padding-right: 50px; padding-left: 25px; border-left: 1px solid #393939;}
#hnn-sitemap .sitemap-list > li:first-child {padding-left: 0; border-left: 0; margin-left: 150px}
#hnn-sitemap li.map6 {padding-right: 0;}
#hnn-sitemap li,
#hnn-sitemap li a {color: #eff0f0;}
#hnn-sitemap li li {float: none; margin-top: 8px;}
#hnn-sitemap li ul {margin-top: 20px;}
#hnn-sitemap li li,
#hnn-sitemap li li a {display: block; color: #858484;}
#hnn-sitemap li li a:hover {color: #999;}



/*
==============================
FOOTER
==============================
*/
#hnn-foot {width:100%; border-top:1px solid #d8d8d8; height: 225px;}
.address{
	width : 1080px;
	margin : 0 auto;
}

#hnn-foot .address {
	
	color:#777777;
	letter-spacing:-0.025em;
	 line-height:22px; 
	text-align : center;
	 padding-top: 40px;}
#hnn-foot .address em {display:inline-block; font-size:0; margin:0 8px; position:relative; top:2px;}


#hnn-foot .gotop {
	position: absolute; top: 0; margin-right:-99px;
	display: block; width: 54px; height: 54px;	background: #017cc1;
	font-size: 15px; color: #fff; line-height: 54px; text-align: center;
}

/*
==============================
SUB
==============================
*/
/*서브비주얼*/
/* #hnn-svis {z-index:0;width:100%; height:206px; overflow:hidden; z-index:1; position: relative; background: url(../images/svis.gif) 50% 0 no-repeat;}
#hnn-svis img {position:relative;display:block;left:50%;margin-left:-1000px;}


서브네비게이션
#hnn-navi {height:43px;border-bottom:1px solid #dcdcdc; border-top:1px solid #dcdcdc; position:relative;z-index:10; background: #fafafa;}
#hnn-navi > ul {width:1100px;margin:0 auto;position:relative;}
#hnn-navi > ul:after {content:"";display:block;clear:both;height:0;}
#hnn-navi > ul > li {border-right:1px solid #dcdcdc;float:left;position:relative; height: 43px; line-height: 43px; min-width: 168px; text-indent: 20px; color: #777;}
#hnn-navi > ul > li img {position: relative; top: -2px; margin-right: 5px;}
#hnn-navi > ul > li > span,
#hnn-navi > ul > li > a {
	display:block;
	height:43px;
	line-height:43px;
	font-size:15px;
	padding-right: 35px;
}
#hnn-navi > ul > li > a {
	color:#111111;
	min-width:160px;
	position: relative;
}
.navi-arrow:after {
	content: ""; display: block; position: absolute;
	left: 85%; top: 50%; margin-top: -3px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #017cc1;
	border-bottom: 6px solid transparent;
}
#hnn-navi > ul > li:first-child {border-left:1px solid #dcdcdc;}
#hnn-navi ul li ul {
	width:100%;
	position:absolute;
	top:43px;
	border:1px solid #dcdcdc;
	left:-1px;
	background:#fff;
	line-height: 43px;
	display:none;
}
#hnn-navi ul li ul li {border-top:1px solid #dcdcdc;}
#hnn-navi ul li ul li:first-child {border-top: 0;}
#hnn-navi ul li ul li a {
	display:block;
	background:#fff;
	font-size:15px;
	color:#111111;
}
#hnn-navi ul li ul li a:hover {background: #fafafa;}


==============================
SUB
==============================

#hnn-sub {margin-top: 60px;}
#hnn-sub > .fl {width: 225px;}
#hnn-sub > .fr {width: 825px;}
#hnn-sub .sub-tit {height: 25px; font-size: 26px; font-weight: 500; color: #414141; margin-bottom: 12px;}

LNB
#hnn-lnb ul {border-bottom: 1px solid #999; border-top: 2px solid #017cc1;}
#hnn-lnb li {height: 41px; border-top: 1px solid #e2e2e2;}
#hnn-lnb li:first-child {border-top: 0;}
#hnn-lnb li,
#hnn-lnb li a {font-size: 16px; color: #333; text-indent: 10px; line-height: 41px;}
#hnn-lnb li a {display: block;width: 100%; height: 100%;}
#hnn-lnb li:hover,
#hnn-lnb li.active {background: #f5f5f5 url(../images/lnb-on.png) 210px 50% no-repeat;}




==============================
ASIDE (오른쪽퀵메뉴)
==============================

#hnn-aside.sc1 {position: fixed; top: 20px !important;}
#hnn-aside {position: absolute; top: 520px; right: 50%; margin-right: -650px; width: 80px; text-align: center;}
#hnn-aside .1on1 {display: block;}
#hnn-aside .hnn-cart {margin-top: 5px;border-bottom: 1px solid #e3e3e3;}
#hnn-aside dt {color: #fff; background: #575757; height: 23px; line-height: 23px; font-size: 12px;}
#hnn-aside dd {
	border-top: 1px solid #ccc;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	padding: 5px 0;
	font-size: 12px;
	color: #575757;
	background: #fff;
}
#hnn-aside dd:first-child {border-top: 0;}
#hnn-aside dd a {font-size: 12px; color: #575757;}
#hnn-aside dd .cart-img {
	display: block;
	width: 55px;
	height: 55px;
	border: 1px solid #d2d1d1;
	margin: 0 auto;
	margin-top: 15px;
}
#hnn-aside .cart-btn {margin-top: 17px; margin-bottom: 10px;font-size: 0; text-align: center;height: 13px; vertical-align: bottom;}
#hnn-aside .cart-btn li {display: inline-block; font-size: 12px; color: #636363; margin: 0 2px;height: 13px;line-height: 1; vertical-align: top;}
#hnn-aside .cart-btn li.prev,
#hnn-aside .cart-btn li.next {width: 14px; height: 13px; background: url(../images/aside-paging.gif) no-repeat;}
#hnn-aside .cart-btn li.prev {background-position: 0 0;}
#hnn-aside .cart-btn li.next {background-position: -14px 0;}
#hnn-aside .cart-btn li a {display: block; width: 100%; height: 100%;}



#hnn-content {border-top: 2px solid #767676; min-height: 300px; padding: 41px 0 100px;}
#hnn-content iframe {margin:0 auto; display:inline;} */