@CHARSET "EUC-KR";


/* 내 코스 정보 옆에 날짜와 시간을 선택 할 수 있도록 하기 위함 */
.partner_myCourse{
	float: left;
	width: 25%;
 	margin: 30px 60px;
 	padding: 20px 20px;
 	height: 265px;
}


/* 내 코스 이미지 크기 조정 */
.partner_myCourse img{
	 width : 350px ;
	 height : 380px;
	 margin-top: 30px;
}

/* 검색 기준 선택하는 것 각각의 div에 통일된 효과 적용 */
.Partner_calendar_check1{
	float: right;
	margin-right:50px;
	margin-top: 50px;
	margin-bottom : 20px;
	padding: 20px 20px;
	border: 2px dotted #BDBDBD;
	border-radius: 15px;
	width: 510px;	
}

/* 검색 기준 선택하는 것 각각의 div에 통일된 효과 적용 */
.Partner_calendar_check2{
	float: right;
	margin-right:50px;
	margin-top: 30px;
	margin-bottom : 20px;
	padding: 20px 20px;
	border: 2px dotted #BDBDBD;
	border-radius: 15px;
	width: 510px;	
}

/* 검색 기준 선택하는 것 각각의 div에 통일된 효과 적용 */
.Partner_calendar_check3{
	float: right;
	margin-right:50px;
	margin-top: 30px;
	margin-bottom : 50px;
	padding: 20px 20px;
	border: 2px dotted #BDBDBD;
	border-radius: 15px;
	width: 510px;	
}






/* 각각 필터링 하고 싶은 div에 마우스 오버 시 색상 바뀜 */
.Partner_calendar_check1:hover{
	border: 2px solid #FFD8D8;
	background-color: #FFEAEA;
} 

.Partner_calendar_check2:hover{
	border: 2px solid #FFD8D8;
	background-color: #FFEAEA;
} 

.Partner_calendar_check3:hover{
	border: 2px solid #FFD8D8;
	background-color: #FFEAEA;
} 







/* 테이블의 간격 조정하기 위함 */
.Partner_calendar_check1 table th{
	padding: 10px 10px;
}
.Partner_calendar_check2 table th{
	padding: 10px 10px;
}
.Partner_calendar_check3 table th{
	padding: 10px 10px;
}

h2{
	padding: 10px 10px;
}


/* 검색기준을 묶고있는 div에 효과를 줌 */
.Partner_check{
	height: 500px;
}


/* 수평선 효과주기 */
hr{
	border: double 3px #D5D5D5;
	width: 90%;
	margin: 0 auto;
}

/*검색한 리스트 나오는 곳 : float속성 제거하고 가운데 정렬해주기  */
.Partner_calendar_list{
	margin-left : 70px;
	clear: both;
} 

/* 검색한 li설정 */
.Partner_calendar_list li{
	display: inline;
	float: left;
	margin-left: 70px;
	margin-top: 20px;
}

/* 검색한 li안의a태그 밑줄 제거 */
.Partner_calendar_list a{
	text-decoration: none;
}

/* 검색한 li의 p태그 글씨 속성 */
.Partner_calendar_list p{
	font-size: 20px;
	font-weight: bold;
	padding-left:10px;
	color: #4C4C4C;
}

/* 검색한 li의 div태그 백그라운드 색깔 */
.Partner_calender_searchList li div{
	background-color: #F6F6F6;
	padding: 10px 10px;
}


/* 검색한 li의 지도이미지 크기 설정 */
#Partner_calender_searchImage>img{
	width: 200px;
	height: 250px;

	position: relative;

}

/* 메세지 위치 조정하기 */
#message_send{
	width: 40px;
	height: 40px;
	position:absolute;
	left: 150px;
	bottom: 30px;
	
/* 	아이콘을 좀더 부드럽게 줌인 하기 위함 */
	transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}


/* 메세지 아이콘에 커서를 올렸을 때 아이콘 줌인 */
#message_send:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}


/* 메세지 위치 조정하기 */
.Partner_sendMessage{
	position: relative;
	
}

/* 검색 돋보기 마우스 오버 시 줌인효과 */
.search_icon{
		transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.search_icon:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}







