@CHARSET "UTF-8";

/* 역이미지 날짜이미지를 포함하는 ul태그를 중간정렬 하기 위함 */
.Partner_main_filter_select ul{
	margin-left: 370px;
}

/* 역과 날짜/시간 기준으로 되어 있는 버튼을 인라인으로 하기 위함 */
.select_standard li{
	display: inline;	
}

.select_station{
	float: left;
}

.select_date{
	margin-left: 30px;
}

/* 역 이미지와 달력 이미지 크기 조정하기 위함 */
.select_standard a img{
	width: 200px;
	height: 200px;
}

#Partner_search_button{
	background: url(../../images/partner_images/ico_fa_search_m.png) no-repeat;
	border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
	
}

/* 급해요 이미지 옆에 글 슬라이드가 나오도록 하기 위함 */
.Partner_intro_min img{
	float: left;
	margin-left: 400px;
}




/* 전국 스타 내일로 동반자를 한번에 만나는 통합검색창 글씨 마진값 조정 */
.Partner_main_search h2{
	margin-left: 400px;
}

/* 통합 검색창 위치 조정 */
#Partner_main_search_form input{
	margin-left: 450px;
}