@CHARSET "EUC-KR";

table.li {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin: 20px 10px;
    border-left-color: white;
    border-right-color: white;
}
table.li thead {
	border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #FFFFFF;
    border-left-color: white;
    border-right-color: white;
}
table.li thead tr th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #666666;
    border-top : 1px solid #111111;
    border-bottom: 1px solid #111111;
    
}
table.li #ll td{
	padding: 10px;
    font-weight: bold;
    vertical-align: top;

}
.borderLine{
	border-bottom: 1px solid #111111;
	border-color: #EEEEEE;
	height: 35px;
	
}

.borderLine a{
	font-weight: bold;
	border-color: #000000;
	margin-left: 15%;
}

table.li thead td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table .gs a{
	position: right;
}

table.li tpoot {
    font-weight: bold;
}



.header {
	font-weight: bold;
	color:#222222;
	text-align: center;
}

.gs{
	margin-left: 66%;
	color: #666666;
	size: 50px;
}


#qq{
	background: #888888;
	color-size: 50px;
	padding-bottom: 3px;
}

#qq:hover{
	background: #009999;
}
#ww{
	background: #666666;
	color-size: 50px;
}
#ww:hover{
	background: #009999; 
}

#dd{
	outline-color:0;
	border-color:#DDDDDD;
}



