<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="Member" type="partner.model.Member"/>
		<typeAlias alias="Search" type="partner.model.Search"/>
		<typeAlias alias="Course" type="course.model.Course"/>
		<typeAlias alias="CourseDetail" type="course.model.CourseDetail"/>
		<typeAlias alias="IssueStation" type="course.model.IssueStation"/>
		<typeAlias alias="Stopstation" type="course.model.Stopstation"/>
		<typeAlias alias="Traintime" type="course.model.Traintime"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- Tomcat서버에 존재하는 커넥션 풀과 연결 -->
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="course/mapper/Course.xml" />
		<mapper resource="partner/mapper/Partner.xml"/>
	</mappers>

</configuration>
