<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>

	<typeAlias type="review.model.Review" alias="Review"/>
		<typeAlias type="review.model.Search" alias = "Search"/>
		<typeAlias type="review.model.Reply" alias = "Reply"/>
  
		<typeAlias type="message.model.Message" alias="Message" />
		<typeAlias type="main.model.Member" alias="Member" />
		<typeAlias type="partner.model.Search" alias="Search" />
		<typeAlias type="course.model.Course" alias="Course" />
		<typeAlias type="course.model.CourseDetail" alias="CourseDetail" />
		<typeAlias type="course.model.IssueStation" alias="IssueStation" />
		<typeAlias type="course.model.Stopstation" alias="Stopstation" />
		<typeAlias type="course.model.Traintime" alias="Traintime" />
	
	</typeAliases>


	
    	<environments default="development">

		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- Tomcat서버에 존재하는 커넥션 풀과 연결 -->
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="message/mapper/Message.xml"/>
		<mapper resource="partner/mapper/Partner.xml"/>
		<mapper resource="course/mapper/Course.xml" />
		<mapper resource="main/mapper/Main.xml"/>
    <mapper resource="review/mapper/Review.xml"/>

	</mappers>		


</configuration>
