<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
	<!-- course -->
		<typeAlias type="course.model.Course" alias="Course" />
		<typeAlias type="course.model.CourseDetail" alias="CourseDetail" />
		<typeAlias type="course.model.Stopstation" alias="Stopstation"/>
		<typeAlias type="course.model.Traintime" alias="Traintime" />
		<typeAlias type="course.model.IssueStation" alias="IssueStation" />
	
	<!-- review -->	
		<typeAlias type="review.model.Review" alias="Review"/>
		<typeAlias type="review.model.Re_Search" alias = "Re_Search"/>
		<typeAlias type="review.model.Reply" alias = "Reply"/>
	
	<!-- main -->	
		<typeAlias type="main.model.Member" alias="Member" />
		
	<!-- partner -->	
		<typeAlias type="partner.model.Search" alias="Search" />
	
	<!-- message -->
		<typeAlias type="message.model.Message" alias="Message" />
		
	<!-- share -->	
		<typeAlias type="share.model.Share" alias="Share" />
		<typeAlias type="share.model.ShareSearch" alias="ShareSearch" />
		<typeAlias type="share.model.ShareReply" alias="ShareReply" />
	</typeAliases>


    	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- Tomcat서버에 존재하는 커넥션 풀과 연결 -->
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="message/mapper/Message.xml" />
		<mapper resource="partner/mapper/Partner.xml" />
		<mapper resource="course/mapper/Course.xml" />
		<mapper resource="share/mapper/Share.xml" />
		<mapper resource="main/mapper/Main.xml" />
		<mapper resource="review/mapper/Review.xml" />
	</mappers>



</configuration>
